@page
@model IndexModel

<h1 class="display-4">Welcome to HyperShorts</h1>

<form method="post" class="mt-4">
    <div class="mb-2">
        <label asp-for="LongUrl" class="form-label"></label>
        <input asp-for="LongUrl" class="form-control" />
        <span asp-validation-for="LongUrl"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shorten</button>
</form>

@if (Model.ShortUrl != null)
{
    <hr />
    <p>
        Short URL:
        <a href="@Model.ShortUrl" target="_blank">
            @Model.ShortUrl
        </a>
    </p>
}
